
mat-slider {
    width: 300px;
  }

span{
    margin-right: 1rem;
}
#bar1:focus{
    outline:none;
    }
    #bar1:hover{
        outline:none;
        cursor: pointer;
        }
footer {
    left: 0;
    bottom: 0;
    background: teal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

mat-slider {
    width: 300px;
  }

span{
    margin-right: 1rem;
}
footer {
    left: 0;
    bottom: 0;
    background: teal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
mat-card{
    margin: 5px;
    width: 700px;
    height: 500px;
    /* border: 15px solid teal; */
}
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{ 
    width:100%;
    padding:0%;
} 
.id1{
    padding: 100px;
    margin:100px;
}
h1{
    text-align: center;
}
.id{
margin-left: 60px;
}
#abc:hover{
    cursor: pointer;
  }
  #abc:focus{
    outline: none;
  }