<body>

    <header>
        <mat-toolbar color="primary" class="navbar">
      
            <span routerLink="" id="bar1" style="width: 30%;"><img src="/assets/img/header.png" width="50px"
                    height="50px">Nimbleguru</span>
                    <span style="font-size: 70%;">{{name}} 
                        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger id='abc'>
                        <div
                            style="width: 40px; height: 40px;background-color:#95DBEF ; border-radius: 20px; margin-right: 12px;">
                
                            <div style="font-size: 17px; padding: 7px; padding-top: 3px; color: black;">{{avatar}}</div>
                        </div>
                    </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/student-profile">Profile</button>
                    <button mat-menu-item routerLink="/" (click)="Logout()">Logout</button>
      
                </mat-menu>
            </span>
            <!-- <span style="float: right;margin-left: 78%;">{{name}}</span><i class="fa fa-user-circle fa-2x" routerLink="/student-profile" id="circle"></i>     -->
            <!-- <button mat-raised-button color="accent" routerLink="/login" (click)="Logout()">Logout</button> -->
        </mat-toolbar>
      </header>


<mat-grid-list cols=1 rowHeight="100%">
<!-- <mat-grid-tile colspan=1>


</mat-grid-tile> -->
<mat-grid-tile>
    <mat-list >
        <mat-list-item>
            <h1 style="font-size: 170%;">Your feedback is valuable to us!!</h1>
        </mat-list-item>
        <mat-list-item style="margin-top: 20px; padding: 0px;">
            <ul class="list-inline rating-list" *ngFor="let star of stars"
                style="display: inline-block; padding-left: 0px; padding-right: 35px;">
                <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                    <i class="fa fa-star fa-2x" style="padding: 0px; margin: 0px;"></i>
                </li>
            </ul>
        </mat-list-item>
        <mat-list-item style="margin-top:40px ;">


            <form [formGroup]="feedbackForm" (ngSubmit)="feedbackForm.valid && onSubmit()" novalidate>

                <mat-form-field appearance="outline" style="width: 400px;">
                    <input id="comment" matInput formControlName="comment" [(ngModel)]="feedback.comment"
                        placeholder="Comments">
                </mat-form-field>
                <br>
                <button style="margin-left: 300px;" type="submit" mat-raised-button color="primary">Submit</button>

            </form>
        </mat-list-item>

    </mat-list>
</mat-grid-tile>

<!-- <mat-grid-tile colspan=1>
</mat-grid-tile> -->

</mat-grid-list>    <!-- </mat-grid-tile>
</mat-grid-list> -->
    <!-- footer section start here -->
    <footer style="color: white;">
        <div>Copyright © Sergbo All rights reserved.</div>
        <div>
            <a style="color: white;" href="">Privacy Statement </a>
            <a style="color: white;" href="">Terms of Use</a>
        </div>
    </footer> <!-- footer section end here -->
</body>