<header>
    <mat-toolbar color="primary" class="navbar">
        <!-- <span routerLink="">Nimbleguru</span> -->


        <span routerLink="" id="bar1" style="width: 30%;"><img src="/assets/img/header.png"  width="50px" height="50px">Nimbleguru</span>

        <!-- <span routerLink="" id="bar1" style="margin-left: 5px;" class="video-player" >     
                <video [vgMedia]="media" #media id="singleVideo" width="60px" height="55px" preload="auto"
                crossorigin loop autoplay onmouseout="this.pause();" >

                 
                      <source src="/assets/img/video.mp4">
                </video><span style="vertical-align: 25px;">Nimbleguru</span>
        </span> -->


        <div>
            <span><button routerLink="/login" mat-raised-button>Login</button></span>
            
        </div>
    </mat-toolbar>
</header>
<body>

<mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)" >
    <mat-grid-tile>
        <img alt="Logo" src="/assets/img/LogoSerbo-Recovered copy.png" style="width: 55%;">
    </mat-grid-tile>


    <mat-grid-tile>
        <mat-card style="width:350px; padding:0px ;">
            <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
                <div class="form-container">
                    <mat-list>
                        <mat-list-item >
                            <h1 style="font-weight: 500;">Registration</h1>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <mat-form-field style="width:300px;">
                                <input id="name" matInput formControlName="name" [(ngModel)]="user.name"
                                    placeholder="Enter your name" />
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <mat-form-field style="width:300px;">
                                <input id="phoneNumber" matInput formControlName="phoneNumber"
                                    [(ngModel)]="user.phoneNumber" placeholder="Enter your phoneNumber" />
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item role="listitem" >

                            <mat-form-field style="width:300px;">
                                <input id="email" matInput formControlName="email"
                                    [(ngModel)]="user.email" placeholder="Enter your email" />
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item role="listitem" >

                            <mat-form-field style="width:300px;">
                                <input id="class" matInput formControlName="standard" [(ngModel)]="user.standard"
                                    placeholder="Enter your standard" />
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item role="listitem" >

                            <mat-form-field style="width:300px;">
                                <input id="password" matInput formControlName="password" [(ngModel)]="user.password"
                                    placeholder="Enter your password" [type]="hide ? 'password': 'text'" />
                                <mat-icon matSuffix (click)="hide= !hide">
                                    {{hide ? 'visibility': 'visibility_off'}}
                                </mat-icon>
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item role="listitem" >

                            <mat-form-field style="width:300px;">
                                <input id="confirmPassword" matInput formControlName="confirmPassword"
                                    [(ngModel)]="user.confirmPassword" placeholder="Enter your password again" [type]="hide ? 'password': 'text'" />
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item role="listitem" >

                          <button mat-button type="submit" class="mat-raised-button mat-primary"
                          [disabled]="!registerForm.valid">Register</button>
                        </mat-list-item>
                        <mat-list-item>
                                <h3 (click)="gotologin()">Already a user ? Login <a routerLink="/login">here</a></h3>

                        </mat-list-item>
                    </mat-list>
                </div>
            </form>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>
    <!-- footer section start here -->
    <footer style="color: white;">
        <div>Copyright © Sergbo All rights reserved.</div>
        <div>
            <a style="color: white;" href="">Privacy Statement  </a>
            <a style="color: white;" href="">Terms of Use</a>
        </div>
    </footer> <!-- footer section end here -->
</body>
