<header>
  <mat-toolbar color="primary" class="navbar">

      <span routerLink="" id="bar1" style="width: 30%;"><img src="/assets/img/header.png" width="50px"
              height="50px">Nimbleguru</span>
              <span style="font-size: 70%;">{{name}} 
                <button mat-button [matMenuTriggerFor]="menu" #menuTrigger id='abc'>
                <div
                    style="width: 40px; height: 40px;background-color:#95DBEF ; border-radius: 20px; margin-right: 12px;">
        
                    <div style="font-size: 17px; padding: 7px; padding-top: 3px; color: black;">{{avatar}}</div>
                </div>
            </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/student-profile">Profile</button>
              <button mat-menu-item routerLink="/" (click)="Logout()">Logout</button>

          </mat-menu>
      </span>
      <!-- <span style="float: right;margin-left: 78%;">{{name}}</span><i class="fa fa-user-circle fa-2x" routerLink="/student-profile" id="circle"></i>     -->
      <!-- <button mat-raised-button color="accent" routerLink="/login" (click)="Logout()">Logout</button> -->
  </mat-toolbar>
</header>
<body>

<div class="main-div">
 <mat-card style="width: 650px; height: 550px; margin-top: 90px;">
     <form [formGroup]="updateForm1" (ngSubmit)="updateForm1.valid" novalidate>
         <mat-grid-list [cols]="1">
             <mat-grid-tile>
                 <div class="form-container" style="width: 500px;">
                     <h1 style="font-weight: 600; margin-left: 30px;">Frequently asked questions</h1>
                     <mat-list>
                       <!-- <div class = "id">
                         <mat-list-item role="listitem">
                             <mat-form-field>
                                 <input id="name" matInput formControlName="id" [(ngModel)]="faq.id"
                                     placeholder="Enter SessionId"/>
                             </mat-form-field>
                           </mat-list-item>
                       </div> -->
                       <!-- <div class = "id">
                         <mat-list-item role="listitem">
                           <mat-form-field style="width: 500px;">
                             <input id="name" matInput formControlName="topicname" [(ngModel)]="faq.topicname"
                                 placeholder="Enter yourTopic Name"/>
                           </mat-form-field>
                         </mat-list-item>
                       </div> -->
                       <div class = "id">
                         <mat-list-item role="listitem" appearance="outline">
                         <mat-form-field>
                             <input id="class" matInput formControlName="subject" [(ngModel)]="faq.subject"
                                 placeholder="Enter your Subject" />
                         </mat-form-field>
                         </mat-list-item>
                       </div>
                       <div class = "id1">
                         <mat-list-item role="listitem">
                         <mat-form-field>
                             <textarea id="query" matInput  formControlName="query" [(ngModel)]="faq.query"
                                 placeholder="Enter few keywords like: gravity, pythagoras etc."></textarea>
                         </mat-form-field>
                         </mat-list-item>
                       </div>
                       <div class = "id2">

                         <mat-list-item role="listitem">
                         <mat-form-field appearance="outline">
                             <textarea id="solution" matInput  rows="5" cols="3" formControlName="solution" [(ngModel)]="faq.solution"
                                 placeholder="Enter your Solution"></textarea>
                         </mat-form-field>
                         </mat-list-item>
                       </div>
                         <span class ="bottomrow">
                             <button mat-button type="submit"  class="mat-raised-button mat-primary" (click) = "OnSave()">Submit</button>
                         </span>
                     </mat-list>
                 </div>
             </mat-grid-tile>
         </mat-grid-list>
     </form>
 </mat-card>
</div>


<!-- footer section start here -->
<footer style="color: white;">
  <div>Copyright © Sergbo All rights reserved.</div>
  <div>
      <a style="color: white;" href="">Privacy Statement  </a>
      <a style="color: white;" href="">Terms of Use</a>
  </div>
</footer>
</body>

<!-- footer section end here -->