.navbar {
    justify-content: space-between;
}

span {
    margin-right: 1rem;
}

footer {
    background: teal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer ul {
    list-style-type: none;
}

mat-card {
    height: 70%;
    margin: 5px;
    width: 800px;
}

mat-card :hover {
    background: white;
    color: black;
}
#abc:hover{
    cursor: pointer;
  }
  #abc:focus{
    outline: none;
  }


/* 
.scrollable {
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 70%;
} */

@media (max-width: 767.98px) {
    mat-grid-list {
        margin-left: 0px;
        margin-right: 0px;
    }
    .tile-image {
        width: 100%;
        height: auto;
    }
    mat-list h1 {
        font-size: 1.5rem;
    }
    mat-list p {
        font-size: 1.1rem;
    }
    footer {
        margin-top: 100px;
    }

    
}
button.mat-menu-item{
    outline: none;
  }
  #bar1:focus{
    outline:none;
    }
    #bar1:hover{
        outline:none;
        cursor: pointer;
        }