<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Header section start here -->
    <header>
        <mat-toolbar color="primary" class="navbar">
            <span routerLink="" id="bar1" style="width: 30%;"><img src="/assets/img/header.png" alt="Nimbleguru" width="60px" height="60px"> Nimbleguru</span>
            <span>
                <span ><button routerLink="/login" mat-button>Login</button></span>
                <span><button  routerLink="/student-registration" mat-raised-button>Register</button></span>
            </span>
        </mat-toolbar>
    </header> <!-- Header section end here -->

    <!-- Maim section start here -->
    <body style="background-image: url(/assets/img/BG.png);">

    <main class="discription" >
        <mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">
            <mat-grid-tile>
                <img alt="Logo" src="/assets/img/LogoSerbo-Recovered copy.png ">
            </mat-grid-tile>
            <mat-grid-tile> 
                <mat-list>
                    <h1>Where Doubt Get Resolved</h1>
                    <p>When students want an elite team of mentors who are a able to solve there doubts instantly. They turn to
                        Nimbleguru so that students can build concepts, art of solving problem , and transform into versatile
                        persons while they are at it.When the students get doubts come to us solve doubt we deliver the best Possible solution.
                        “The most important principle for designing lively eLearning is to see eLearning design not as information design but as designing an experience.” 
                                - Cathy Moore
                    </p>
                    <button routerLink="/plans" mat-raised-button color="primary">See our plans</button>
                    <br>
                    <br>
                    <button routerLink="/demo" mat-raised-button color="primary">Request a free demo</button>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </main> <!-- Maim section end here -->
</body>
    <!-- footer section start here -->
    <footer style="color: white;">
        <div>Copyright © Sergbo All rights reserved.</div>
        <div>
            <a style="color: white;" href="">Privacy Statement  </a>
            <a style="color: white;" href="">Terms of Use</a>
        </div>
    </footer> <!-- footer section end here -->
