.navbar{

  justify-content: space-between;
}
.navbar:focus{
  outline: none;
  cursor: pointer;
  
}
.navbar:hover{
  cursor: pointer;
}

/* span{
  margin-right: 1rem;
} */
mat-grid-list{
  margin-left: 100px;
  margin-right: 100px;
}

mat-list h1{
  font-size:3rem;
  font-weight: 900;
  color: rgb(12, 5, 51)

}
mat-list p{
  font-size: 1.25rem;
  color: #323648;
}
mat-list button{
  background-color:#A79344 ;
}
.tile-image{
  width: 100%;
  height: auto;

}
footer {
  background: teal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
#abc:hover{
  cursor: pointer;
}
#abc:focus{
  outline: none;
}
button.mat-menu-item :focus{
  outline: none;
}
#Profile{
  outline: none;
}
#bar1:focus{
  outline:none;
  }
  #bar1:hover{
      outline:none;
      cursor: pointer;
      }




/* media query for responsive page */
@media (max-width: 700px) {
  body{
    font-size: 90%;
  }
  mat-grid-list{
      margin-left: 0px;
      margin-right: 0px;
  }
  .tile-image{
      width: 100%;
      height: auto;
  }
  mat-list h1{
      font-size:1.5rem;
  }
  mat-list p{
      font-size: 0.25 rem;
  }

  /* button{
  color: #A79344;
} */
mat-card{
  width: fit-content;
}
}
.botton-row button
{
    align-items: baseline;
}
#circle:hover{
cursor: pointer;
}

