header{
    height: 10%;
    background-color: teal;
}
mat-slider {
    width: 300px;
  }
.navbar{
    background-color:teal;
}
span{
    margin-right: 1rem;
}
footer {
    left: 0;
    bottom: 0;
    background: teal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
mat-card{
    margin: 5px;
    width: 800px;
}
/* .main-div{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.form-container{
    width:100%;
    padding:5%;
}
.botton-row button
{
    margin: 5px;
}
.h1
{
    text-align:center;
}
#close:hover{
    color: red;
    /* background-color: red; */
    cursor: pointer;
}
#close{
background: white; 
width: 50px;
height: 30px;
align-items: center;
margin-left:830px ;
text-align:center;
}